<%= link_to "Registrar jugador", register_player_path %>

<div>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Mount</th>
      </tr>
    </thead>
    <tbody>
      <% @players.each do |player| %>
        <tr>
          <td> <%= player.name %> </td>
          <td> <%= player.age %> </td>
          <td> <%= player.mount %> </td>
          <td> <%= link_to "Apuestas del jugador", player_path(player.token) %> </td>
          <td> <%= link_to "Editar", player_edit_path(player.token) %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>