<div>
  <h2>Nuevo Jugador</h2>
  <%= form_for(@player) do |f| %>
    <div class = "form-group">
      <%= f.text_field :name, placeholder: "Nombre del jugador" %>
    </div>
    <div class = "form-group">
      <%= f.text_field :age, placeholder: "Edad del jugador" %>
    </div>
    <div class="form-group">
      <%= f.text_field :mount, placeholder: "Monto inicial del jugador" %>
    </div>
    <div class="form-group">
      <%= f.submit "Crear jugador" %>
    </div>
  <% end %>
</div>
<%= link_to "Jugadores registrados", players_path %>